<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="AngryBots" Publisher="CN=Unity Technologies" Version="1.0.0.0" ProcessorArchitecture="x86" />
  <Properties>
    <DisplayName>AngryBots</DisplayName>
    <PublisherDisplayName>Unity Technologies</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="4-0_AngryBots.App">
      <VisualElements DisplayName="AngryBots" Logo="Assets\MediumTile.png" SmallLogo="Assets\SmallLogo.png" Description="4-0_AngryBots" ForegroundText="light" BackgroundColor="#000000">
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities />
</Package>